extends ../layout

block content
  form(method='POST',action='/auth/forgot-password')
    legend Forgot Password
    .form-group
      label(for='email_address') Email
      input.form-control(type='text', name='email_address', id='email_address', required, autofocus)
    .form-group
      button.btn.btn-primary(type='submit') Reset Password
      a.btn.btn-link(href='/auth/login') Cancel