extends ../layout

block content
    h1 Login Page

    .row
      .col-xs-12.col-sm-8
        form(role='form', action="/auth/login",method="post")
          .row
            .col-xs-12.col-sm-4
              .form-group
                label.control-label(for='email_address') Email Address
                input.form-control(type='text', name='email_address', placeholder='Enter Email', id='email_address', value='christchurch@no1fitness.co.nz', required)
            .col-xs-12.col-sm-4
              .form-group
                label.control-label(for='password') Password
                input.form-control(type='password', name='password', placeholder='Password', id='password', value='password', required)

          .form-group
            div.checkbox
              label
                input(type='checkbox', name='rememberMe')
                span Remember Me

          .form-group
            button.btn.btn-primary(type='submit') Submit
            a.btn.btn-link.forgot(href='/auth/forgot-password') Forgotten Password?