extends ../layout

block content
  form(method='POST')
    legend Reset Password
    .form-group
      label(for='new_password') New Password
      input.form-control(type='password', id='new_password', name='new_password', value='', placeholder='New password', autofocus, required)
    .form-group
      label(for='confirm_password') Confirm Password
      input.form-control(type='password', id='confirm_password', name='confirm_password', value='', placeholder='Confirm password', required)
    .form-group
      button.btn.btn-primary(type='submit') Update Password