extends ../layout

block content

  h1 Change Password

  p Enter your current password below, followed by your new password and your new password again to confirm it.

  form(method='POST')
    .row
      .col-sm-12.col-md-4
        .form-group
          label(for='currentPassword') Current Password
          input.form-control(type='password', id='currentPassword', name='currentPassword', value='', placeholder='Current password', autofocus, required)
    .row
      .col-sm-12.col-md-4
        .form-group
          label(for='newPassword') New Password
          input.form-control(type='password', id='newPassword', name='newPassword', value='', placeholder='New password', autofocus, required)
      .col-sm-12.col-md-4
        .form-group
          label(for='newPasswordConfirm') Confirm New Password
          input.form-control(type='password', id='newPasswordConfirm', name='newPasswordConfirm', value='', placeholder='Confirm password', required)
    .row
      .col-sm-12
        .form-group
          button.btn.btn-primary(type='submit') Change Password