doctype html
html
  head
    title Lightbulb
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css')
    block header-resources
  body
    block content
    block footer-resources